@import "../../assets/styles/media";
@import "../../assets/styles/fonts";

.menu {
  display: flex;
  flex-direction: column;
  @include media-tablet {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.title {
  font-weight: 24;
  text-transform: uppercase;
  margin-bottom: 54px;
  margin-top: 40px;
  @include font-delius-bigest;
}
