@import "../../assets/styles/media";

.menu {
  display: flex;
  flex-direction: column;
  @include media-tablet {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.title {
  font-weight: 24;
  text-transform: uppercase;
  margin-bottom: 18px;
  margin-top: 20px;
}
