@import "_sizes";

@mixin font-main {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
}

@mixin font-title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
}

@mixin font-footer {
  font-weight: 400;
  font-size: 24px;
}

@mixin font-name-of-works {
  font-size: 36px;
}

@mixin font-small {
  font-size: 20px;
}
